@media screen and (max-width: 767px) {
  .header {
    width: 300px;
    height: 100px;
    background-color: #141f40;
  }

  .main {
    display: flex;
    width: 300px;
  }

  .left {
    width: 100px;
    height: 250px;
    background-color: #80bfa8;
  }

  .up {
    display: flex;
  }

  .yellow {
    width: 125px;
    height: 50px;
    background-color: #dbd400;
  }

  .blue {
    width: 125px;
    height: 100px;
    background-color: #0093b7;
  }

  .pink {
    width: 75px;
    height: 150px;
    background-color: #ff9e6b;
  }

  .red {
    width: 200px;
    height: 100px;
    background-color: #8c2727;
  }

  .footer {
    width: 300px;
    height: 100px;
    background-color: #d98d30;
  }
}

@media screen and (max-width: 479px) {
  .header {
    width: 150px;
    height: auto;
    background-color: #141f40;
  }

  .left {
    width: 150px;
    height: auto;
    background-color: #80bfa8;
  }

  .yellow {
    width: 150px;
    height: auto;
    background-color: #dbd400;
  }

  .blue {
    width: 150px;
    height: auto;
    background-color: #0093b7;
  }

  .pink {
    width: 150px;
    height: auto;
    background-color: #ff9e6b;
  }

  .red {
    width: 150px;
    height: auto;
    background-color: #8c2727;
  }

  .footer {
    width: 150px;
    height: auto;
    background-color: #d98d30;
  }
}
