.header{
  background-color: #141f40;
  height: 100px;
  width: 400px;
}

.hw{
  background-color: white;
  float: right;
  height: 60px;
  width: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  margin-top: 20px;
}

.hp{
  background-color: #a9004b;
  height: 40px;
  width: 40px;
}

.body{
  display: flex;
}

.left{
  background-color: #80bfa8;
  height: 250px;
  width: 150px;
}

.right{
  background-color: #8c2727;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column
}

.ro{
  background-color: #ff863F;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  height: 40px;
  width: 140px;
  margin-right: 60px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.ro:first-child{
  margin-top: 40px;
}

.footer{
  background-color: #d98d30;
  height: 100px;
  width: 400px;
}